### Librerias

In [1]:
import requests
import json
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

### Tabla de races

In [2]:
races={'season':[],
       'round':[],
       'raceName':[],
       'circuitId':[],
       'lat':[],
       'long':[],
       'country':[],
       'date':[],
       'url':[]}

In [3]:
for year in list (range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races']:
    
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName']) 
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date']) #str
        races['url'].append(item['url']) #str

In [4]:
pd.DataFrame(races).to_csv('races.csv', index=False)

### Tabla de season

In [5]:
url='http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content=json.loads(response.content)

In [6]:
season ={'seasons':[],
      'url':[]}
for item in content['MRData']['SeasonTable']['Seasons']:
    season['seasons'].append(int(item['season']))
    season['url'].append(item['url'])
pd.DataFrame(season)

    seasons                                                url
0      1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1      1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2      1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3      1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4      1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5      1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6      1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7      1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8      1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9      1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10     1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11     1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12     1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13     1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14     1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15     1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16     1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17     1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18     1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19     1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20     1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21     1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22     1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23     1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24     1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25     1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26     1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27     1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28     1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29     1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

In [7]:
pd.DataFrame(season).to_csv('season.csv', index=False)

In [ ]:
df_results_2022=pd.DataFrame()
for race in list(range(1,23)):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response = requests.get(url.format(race))
    content = json.loads(response.content)
    df_results_2022 = df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [21]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x: x['driverId'])

In [22]:
df_results_2022['points']=df_results_2022.points.astype(int)

In [23]:
df_results_2022.groupby(['Driver']).agg({'points':'sum'}).sort_values(by='points', ascending=False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

In [25]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x: x['constructorId'])

In [42]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,ferrari,1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,ferrari,3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,mercedes,9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,haas,7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,haas,12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,haas,16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,williams,20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,alpine,10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."